@import "tailwindcss";

:root {
  --white: oklch(96.7% 0.003 264.542);
  --dark: oklch(20.5% 0 0);
  --orange: #ff9e00;
  --purple: #6a00f4;
}

@theme {
  --color-orange: var(--orange);
  --color-purple: var(--purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--dark);
    color: var(--white)
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--white);
    color: var(--white);
  }
}
